xarray
jupyter_contrib_nbextensions
numpy
pandas
netcdf4==1.6.2
satpy
matplotlib
xarray
rasterio
cartopy
geoviews
ipyleaflet
jsonschema[format]
jsonschema[format-nongpl]
xarray_leaflet
traitlets==5.9.0
notebook==6.4.12

